* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border {
    border: 2px solid red;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.content-center {
    align-items: center;
}

.bg-gray {   
    background-color: #EFEFEF;
}

.order-less {
    order: -1;
}

.nav-menu {
    max-width: 450px;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.nav-menu__link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.nav-menu li:not(:last-child) {
    margin-right: 30px;
}

.header-middle {
    border-bottom: 1px solid #EFEFEF;   
}

.logo-container {
    margin: 20px 0 20px 0;
}

.logo-title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
    margin-left: 20px;
}

.tel {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
}

.button {
    display: inline-block; 
    border-radius: 40px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.button-call {
    padding: 12px 26px 13px 27px;      
    border: 2px solid #66C05D;
    color: #000000;
}

.main-menu {
    max-width: 675px;
    margin: 0 auto;
    padding: 30px 0;
}

.main-menu__link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main-menu li:not(:last-child) {
    margin-right: 40px;
}

.page-description {
    background-image: url('img/page-description-cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    margin-top: 192px;
    margin-bottom: 50px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.page-description__text {
    margin-bottom: 50px;
    max-width: 310px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.button-more {
    padding: 12px 26px 13px 27px;
    margin-bottom: 193px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.products {
    background-color: #EFEFEF;
    padding-top: 80px;
    padding-top: 100px;
}

.products__title {
    margin-bottom: 38px;
    
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;    
    color: #000000;
}

.product-card {
    max-width: 255px;
    padding: 25px 30px;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    flex-direction: column;
}

.product-card__title {
    max-width: 195px;
    margin: 20px 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.product-card__price {
    margin-bottom: 20px;    
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.button-buy {
    padding: 9px 40px;
    border-radius: 30px;    
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;    
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #66C05D;
}

.bonus-section {
    background-color: #EFEFEF;
    padding-bottom: 132px;
}

.bonus-section__item {
    width: 49%;
    max-width: 540px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;

    /*padding: 35px 300px 35px 40px;*/
    background-color: #66C05D;
}

.bonus-section__item:first-child {
    background-image: url('img/letter.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;

}

.bonus-section__item__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.bonus-section__item__text {
    margin-bottom: 25px;
    max-width: 235px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.for-email {
    padding: 9px 104px 9px 25px;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #C4C4C4;
}

.button-map {
    padding: 9px 28px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.footer-top {
    padding-top: 37px;
    padding-bottom: 38px;
}


.social-link {
    width: 45px;
    height: 45px;
    border: 2px solid #66C05D;
    border-radius: 100%;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
}

.social-link:not(:last-child) {
    margin-right: 20px;
}

.social-link:nth-child(1) {
    background-image: url('img/yt.svg');
}

.social-link:nth-child(2) {
    background-image: url('img/vk.svg');
}

.social-link:nth-child(3) {
    background-image: url('img/fb.svg');
}

.social-link:nth-child(4) {
    background-image: url('img/in.svg');
}

.address {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

    margin-right: 100px;
}

.footer-bottom {
    background-color: #EFEFEF;
    padding-top: 25px;
    padding-bottom: 25px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: #828282;
}
 

